body{
  margin: 0;
}
.wrapper{
  width:100%;
  position: relative;
}
.main{
  background: #fff;
  position: relative;
  z-index: 1;
}
.main::before{
  content: '';
  width: 32%;
  height: 100%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.header{
  margin-bottom: 55px;
}
.header__logo{
  color: #fff;
  font: 500 30px/37px 'Montserrat',arial,helvetica,sans-serif;
}
.hamburger-menu{
  width: 92px;
  height: 92px;
  background: #E5E5E5;
  position: absolute;
  top: 0;
  right:0;
}
.promo{
  /* width: 76%; */
  border: 1px solid red;
  margin-right: 12%;
  margin-left: 12%;
  /* z-index: 1; */
  padding-left: 45%;
  padding-top: 94px;
  background: top left no-repeat url("../img/header-img.png");
  margin-bottom: 85px;
  overflow: hidden;
}
.promo__title{
  width: 45%;
  font: bold 80px/102.4% 'Montserrat',arial,helvetica,sans-serif;
}
.promo__description{
  width: 43%;
  font: 400 15px/140% 'Montserrat',arial,helvetica,sans-serif;
}

.product__section-1{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background: #FAE8E4;
  padding-left: 10%;
}
.product__img{
  width: 47%;
  border: 1px solid red;
}
.product{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 34%;
  flex-wrap: wrap;
  height: 62%;
  background: #fff;
  padding-top: 40px;
  padding-left:  55px;
  border: 1px dashed yellow;
}
.product__title{
  font: bold 40px/102.4% 'Montserrat',arial,helvetica,sans-serif;
}
.product__subtitle{
  font: bold 16px/102.4% 'Montserrat',arial,helvetica,sans-serif;
}
.product__description{
  font: 400 15px/140% 'Montserrat',arial,helvetica,sans-serif;
}
.colors{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 165px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blue;
}
.colors__item{
  width: 30px;
  height: 30px;
  border-radius: 50%;

}
.colors__item-1{
  background: #DEDEDE;
}
.colors__item-2{
  background: #F29F9F;
}
.colors__item-3{
  background: #A8BFF9;
}
.colors__item-4{
  background: #90BD8F;
}
.colors__item_active{
  width: 38px;
  height: 38px;
}
.product__price{
  font: bold 40px/102.4% 'Montserrat',arial,helvetica,sans-serif;
}
.product__count{
  width: 100px;
  font: 500 15px 'Montserrat',arial,helvetica,sans-serif;
  border: 1px dashed blue;
  text-align: center;
}
.product__count::before{
  content: '-';
  position: relative;
  right: 19px;
}
.product__count::after{
  content: '+';
  position: relative;
  left: 19px;
}
.product__button{
  font: 500 13px 'Montserrat',arial,helvetica,sans-serif;
  text-transform: uppercase;
  border: 2px solid #000;
  background: none;
  padding: 14px 49px 14px 41px;
}
.product__link{
  display: block;
}
